In [ ]:
# Website: https://vincentarelbundock.github.io/Rdatasets/datasets.html

In [1]:
import cx_Oracle
pswd = input("Enter your password: ")
dsn_tns = cx_Oracle.makedsn('DESKTOP-HI0V3QP', '1521', service_name='XE')
conn = cx_Oracle.connect(user=r'Rdatasets', password=pswd, dsn=dsn_tns) 
c = conn.cursor()

In [2]:
import pandas as pd

url = 'https://vincentarelbundock.github.io/Rdatasets/csv/boot/aids.csv'
df = pd.read_csv(url)

In [10]:
def CreateTable():
    TableName = ("MDelay_in_AIDS_Reporting_in_England_and_Wales")
    c.execute("DROP TABLE {}".format(TableName))
    table_details = ("ID NUMBER, Year NUMBER, Quarter NUMBER, Delay NUMBER, Dud NUMBER, Time NUMBER, Y NUMBER")
    table_input = "{}({})".format(TableName, table_details)
    NewTable = c.execute("CREATE TABLE {}".format(table_input))
CreateTable()

In [11]:
def InsertRecords():
    TableName = ("MDelay_in_AIDS_Reporting_in_England_and_Wales")
    FieldName = ("ID, Year, Quarter, Delay, Dud, Time, Y")
    
    n = len(df.index); x = 0;
    for i in range(n):
        Values = ("'" + "' ,'".join(list(str(x) for x in df.values[x])) + "'")
        # Values = Values.replace('(','').replace(')','').replace('P','').replace('n','').replace('a','')
        # test.append(Values)
        x += 1
    
        c.execute("INSERT INTO {}({}) VALUES ({})".format(TableName, FieldName, Values))
        conn.commit()
InsertRecords()

In [9]:
df

     Unnamed: 0  year  quarter  delay  dud  time  y
0             1  1983        3      0    0     1  2
1             2  1983        3      2    0     1  6
2             3  1983        3      5    0     1  0
3             4  1983        3      8    0     1  1
4             5  1983        3     11    0     1  1
..          ...   ...      ...    ...  ...   ... ..
565         566  1992        4     29    1    38  0
566         567  1992        4     32    1    38  0
567         568  1992        4     35    1    38  0
568         569  1992        4     38    1    38  0
569         570  1992        4     41    1    38  0

[570 rows x 7 columns]