In [2]:
import cx_Oracle
pswd = input("Enter your password: ")
dsn_tns = cx_Oracle.makedsn('10.0.0.210', '1521', service_name='XE')
conn = cx_Oracle.connect(user=r'ahicks88', password=pswd, dsn=dsn_tns) 
c = conn.cursor()

In [155]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd
import numpy as np

# Team Stats and Rankings
url = r"https://www.pro-football-reference.com/teams/cin/2019.htm"
table_data = BeautifulSoup(urlopen(url).read(), "lxml").find_all("table", class_='stats_table')
table1 = table_data[0] 

overhead = table1.find_all(class_="over_header")
table_overhead = []
for row in overhead:
    row_values = [value.string for value in overhead]  
    table_overhead.append(row_values)
table_overhead = table_overhead[0]

header = table1.find_all(scope="col")
table_head = []
for row in header:
    row_values = [value.string for value in header]  
    table_head.append(row_values)
table_head = table_head[0]

rows = table1.find_all("td")
table_data = []
for row in rows:
    row_values = [value.string for value in rows]  
    table_data.append(row_values)
table_data = table_data[1]

# overhead = table_overhead[0:30]
head = table_head[0:30]
row1 = table_data[0:30]
row2 = table_data[30:60]
row3 = table_data[60:90]
row4 = table_data[90:120]

df2 = pd.DataFrame([row1,row2,row3,row4])
df2.columns =[head] 
df2

,Player,PF,Yds,Ply,Y/P,TO,FL,1stD,Cmp,Att,...,Pen,Yds,1stPy,#Dr,Sc%,TO%,Start,Time,Plays,Yds
0,279,5169,1049,4.9,30,14,312,356,616,3652,...,761,36,175,30.3,16.0,Own 27.8,2:38,5.97,29.0,1.53
1,420,6299,1034,6.1,16,5,328,308,499,3917,...,988,21,181,39.8,8.8,Own 27.9,2:43,5.8,34.4,2.12
2,30,26,None,None,27,28,24,None,6,19,...,None,None,None,27,5,20,19,12,24,29
3,25,29,None,None,28,30,17,None,2,21,...,None,None,None,8,27,12,18,15,28,22

In [156]:
table_overhead

[None,
 'Tot Yds & TO',
 'Passing',
 'Rushing',
 'Penalties',
 None,
 'Average Drive']

In [151]:
head = [elm + str(index) for index, elm in enumerate(head)]

header = ""
for num in head:
    head_item = "{} DECIMAL (18, 2), ".format(num)
    if head_item[0].isdigit() == True:
        header += "a_" + head_item
    else:
        header += head_item
header   

# initializing bad_chars_list 
bad_chars = [';', ':', '!', "*","/","#","%"] 

# remove bad_chars  
for i in bad_chars : 
    header = header.replace(i, '') 
header = header[:-2]
header

'Player00 DECIMAL (18, 2), PF11 DECIMAL (18, 2), Yds22 DECIMAL (18, 2), Ply33 DECIMAL (18, 2), YP44 DECIMAL (18, 2), TO55 DECIMAL (18, 2), FL66 DECIMAL (18, 2), a_1stD77 DECIMAL (18, 2), Cmp88 DECIMAL (18, 2), Att99 DECIMAL (18, 2), Yds1010 DECIMAL (18, 2), TD1111 DECIMAL (18, 2), Int1212 DECIMAL (18, 2), NYA1313 DECIMAL (18, 2), a_1stD1414 DECIMAL (18, 2), Att1515 DECIMAL (18, 2), Yds1616 DECIMAL (18, 2), TD1717 DECIMAL (18, 2), YA1818 DECIMAL (18, 2), a_1stD1919 DECIMAL (18, 2), Pen2020 DECIMAL (18, 2), Yds2121 DECIMAL (18, 2), a_1stPy2222 DECIMAL (18, 2), Dr2323 DECIMAL (18, 2), Sc2424 DECIMAL (18, 2), TO2525 DECIMAL (18, 2), Start2626 DECIMAL (18, 2), Time2727 DECIMAL (18, 2), Plays2828 DECIMAL (18, 2), Yds2929 DECIMAL (18, 2)'

In [152]:
c.execute("CREATE TABLE BEN100({})".format(header))

In [19]:
def CreateTable():
    TableName = input("Enter a table name: ")
    table_details = header()
    table_input = "{}({})".format(TableName, table_details)
    NewTable = c.execute("CREATE TABLE {}".format(table_input))
CreateTable()

Player number,
PF number,
Yds number,
Ply number,
Y/P number,
TO number,
FL number,
1stD number,
Cmp number,
Att number,
Yds number,
TD number,
Int number,
NY/A number,
1stD number,
Att number,
Yds number,
TD number,
Y/A number,
1stD number,
Pen number,
Yds number,
1stPy number,
#Dr number,
Sc% number,
TO% number,
Start number,
Time number,
Plays number,
Yds number,

DatabaseError: ORA-02263: need to specify the datatype for this column

In [ ]:
def InsertRecords():
    TableName = input("Enter a table name: ")
    FieldName = input("Enter field names: ")
    Values = input("Enter values: ")
    c.execute("INSERT INTO {}({}) VALUES ({})".format(TableName, FieldName, Values))
    conn.commit()
InsertRecords()