In [ ]:
import cx_Oracle
dsn_tns = cx_Oracle.makedsn('10.0.0.210', '1521', service_name='XE')
conn = cx_Oracle.connect(user=r'ahicks88', password='<>', dsn=dsn_tns) 
c = conn.cursor()

# Create table
c.execute("CREATE TABLE Test2(EmployeeID VARCHAR(255))")

# Create a new record
c.execute("INSERT INTO Test2 (EmployeeID) VALUES (108)")

conn.commit()