In [4]:
import cx_Oracle
pswd = input("Enter your password: ")
dsn_tns = cx_Oracle.makedsn('10.0.0.210', '1521', service_name='XE')
conn = cx_Oracle.connect(user=r'ahicks88', password=pswd, dsn=dsn_tns) 
c = conn.cursor()

In [29]:
def CreateTable():
    TableName = input("Enter a table name: ")
    table_details = input("Enter fields and it's datatype: ")
    table_input = "{}({})".format(TableName, table_details)
    NewTable = c.execute("CREATE TABLE {}".format(table_input))
# CreateTable()

In [47]:
# Create a new record
# c.execute("INSERT INTO Test30 (EmployeeID) VALUES (6)")
conn.commit()

In [5]:
conn.commit()

In [38]:
 c.execute("INSERT INTO test30 (EmployeeID,CustomerID) VALUES (108,9)")

DatabaseError: ORA-00903: invalid table name