In [1]:
import cx_Oracle
pswd = input("Enter your password: ")
dsn_tns = cx_Oracle.makedsn('10.0.0.210', '1521', service_name='XE')
conn = cx_Oracle.connect(user=r'ahicks88', password=pswd, dsn=dsn_tns) 
c = conn.cursor()

In [39]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd
import numpy as np
import requests

# Team Stats and Rankings
url = "https://data.bls.gov/cgi-bin/surveymost"
# soup = BeautifulSoup(url.content, 'html.parser')
# # print(soup.prettify())  
# soup.find_all('th')

table_data = BeautifulSoup(urlopen(url).read()).find_all('body')
table_data


# table1 = table_data
# table1
# header = table1.find_all(scope="col")
# table_head = []
# for row in header:
#     row_values = [value.string for value in header]  
#     table_head.append(row_values)
# table_head = table_head[0]

# rows = table1.find_all("td")
# table_data = []
# for row in rows:
#     row_values = [value.string for value in rows]  
#     table_data.append(row_values)
# table_data = table_data[1]

# head = table_head[0:30]
# row1 = table_data[0:30]
# row2 = table_data[30:60]
# row3 = table_data[60:90]
# row4 = table_data[90:120]

# df2 = pd.DataFrame([row1,row2,row3,row4])
# df2.columns =[head] 
# df2

AttributeError: ResultSet object has no attribute 'children'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [45]:
target = "https://data.bls.gov/cgi-bin/surveymost?bls"
html = urlopen(target)
soup = BeautifulSoup(html, "html.parser")
roots = soup.find_all("div", id="bodytext")
print(roots)

[<div class="verdana md" id="bodytext">
<!-- 1COL LAYOUT COL1 END -->
<!--no_index_end-->
<!-- MAIN CONTENT BEGIN -->
<!-- ****************************************** END HEADER ************************************************ -->
<form action="https://data.bls.gov/cgi-bin/surveymost" method="post">
<h4><em>(Select from list below)</em>
<br/>Employment</h4>
<dl>
<dt>
<dd><input name="series_id" type="checkbox" value="LNS11000000"/> Civilian Labor Force (Seasonally Adjusted) - LNS11000000
<dd><input name="series_id" type="checkbox" value="LNS12000000"/> Civilian Employment (Seasonally Adjusted) - LNS12000000
<dd><input name="series_id" type="checkbox" value="LNS13000000"/> Civilian Unemployment (Seasonally Adjusted) - LNS13000000
<dd><input name="series_id" type="checkbox" value="LNS14000000"/> Unemployment Rate (Seasonally Adjusted) - LNS14000000
<dd><input name="series_id" type="checkbox" value="CES0000000001"/> Total Nonfarm Employment - Seasonally Adjusted - CES0000000001
<dd><input name="series_id" type="checkbox" value="CES0500000002"/> Total Private Average Weekly Hours of All Employees - Seasonally Adjusted - CES0500000002
<dd><input name="series_id" type="checkbox" value="CES0500000007"/> Total Private Average Weekly Hours of Prod. and Nonsup. Employees - Seasonally Adjusted - CES0500000007
<dd><input name="series_id" type="checkbox" value="CES0500000003"/> Total Private Average Hourly Earnings of All Employees - Seasonally Adjusted - CES0500000003
<dd><input name="series_id" type="checkbox" value="CES0500000008"/> Total Private Average Hourly Earnings of Prod. and Nonsup. Employees - Seasonally Adjusted - CES0500000008
</dd></dd></dd></dd></dd></dd></dd></dd></dd></dt>
</dl>
<h4>Productivity</h4>
<dl>
<dt>
<dd><input name="series_id" type="checkbox" value="PRS85006092"/> Output Per Hour - Non-farm Business Productivity                                           - PRS85006092
<dd><input name="series_id" type="checkbox" value="PRS85006112"/> Nonfarm Business Unit Labor Costs                                                          - PRS85006112
<dd><input name="series_id" type="checkbox" value="PRS85006152"/> Nonfarm Business Real Hourly Compensation                                                  - PRS85006152
<dd><input name="series_id" type="checkbox" value="MPU4910012"/> Private Nonfarm Business - Multifactor Productivity, annual index  - MPU4910012
</dd></dd></dd></dd></dt>
</dl>
<h4>Price Indexes</h4>
<dl>
<dt>
<dd><input name="series_id" type="checkbox" value="CUUR0000SA0"/> CPI for All Urban Consumers (CPI-U) 1982-84=100 (Unadjusted)                               - CUUR0000SA0
<dd><input name="series_id" type="checkbox" value="CUUR0000AA0"/> CPI for All Urban Consumers (CPI-U) 1967=100 (Unadjusted)                                  - CUUR0000AA0
<dd><input name="series_id" type="checkbox" value="CWUR0000SA0"/> CPI for Urban Wage Earners and Clerical Workers (CPI-W) 1982-84=100 (Unadjusted)           - CWUR0000SA0
<dd><input name="series_id" type="checkbox" value="CUUR0000SA0L1E"/> CPI-U/Less Food and Energy (Unadjusted)                                                    - CUUR0000SA0L1E
<dd><input name="series_id" type="checkbox" value="CWUR0000SA0L1E"/> CPI-W/Less Food and Energy (Unadjusted)                                                    - CWUR0000SA0L1E
<dd><input name="series_id" type="checkbox" value="WPSFD4"/> PPI Final Demand (Seasonally Adjusted)                                                     - WPSFD4
<dd><input name="series_id" type="checkbox" value="WPUFD4"/> PPI Final Demand (Unadjusted)                                                              - WPUFD4
<dd><input name="series_id" type="checkbox" value="WPUFD49104"/> PPI Final Demand less foods and energy (Unadjusted)                                        - WPUFD49104
<dd><input name="series_id" type="checkbox" value="WPUFD49116"/> PPI Final Demand less foods, energy, and trade services (Unadjusted)                       - WPUFD49116
<dd><input name="series_id" type="checkbox" value="WPUFD49207"/> PPI Finished Goods 1982=100 (Unadjusted)                                           - WPUFD49207
<dd><input name="series_id" type="checkbox" value="EIUIR"/> Imports - All Commodities                                                                  - EIUIR
<dd><input name="series_id" type="checkbox" value="EIUIQ"/> Exports - All Commodities                                                                  - EIUIQ
</dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dt>
</dl>
<h4>Compensation</h4>
<dl>
<dt>
<dd><input name="series_id" type="checkbox" value="CIU1010000000000A"/> Employment Cost Index (ECI) Civilian (Unadjusted)                                          - CIU1010000000000A
<dd><input name="series_id" type="checkbox" value="CIU2010000000000A"/> ECI Private (Unadjusted)                                                                   - CIU2010000000000A
<dd><input name="series_id" type="checkbox" value="CIU2020000000000A"/> ECI Private Wage and Salaries (Unadjusted)                                                 - CIU2020000000000A
</dd></dd></dd></dt>
</dl>
<!-- Start of hidden variables -->
<input name="survey" size="0" type="hidden" value="bls"/>
<!--  This is the beginning of the format hidden variables -->
<input name="format" size="0" type="hidden" value=""/>
<input name="html_tables" size="0" type="hidden" value=""/>
<input name="delimiter" size="0" type="hidden" value=""/>
<input name="catalog" size="0" type="hidden" value=""/>
<input name="print_line_length" size="0" type="hidden" value=""/>
<input name="lines_per_page" size="0" type="hidden" value=""/>
<input name="row_stub_key" size="0" type="hidden" value=""/>
<input name="year" size="0" type="hidden" value=""/>
<input name="date" size="0" type="hidden" value=""/>
<input name="net_change_start" size="0" type="hidden" value=""/>
<input name="net_change_end" size="0" type="hidden" value=""/>
<input name="percent_change_start" size="0" type="hidden" value=""/>
<input name="percent_change_end" size="0" type="hidden" value=""/>
<!-- End of format hidden variables -->
<!-- End of hidden variables -->
<p><input type="Submit" value="Retrieve data"/> <input type="Reset" value="Reset form"/></p>
<hr/>
</form>
<!-- MAIN CONTENT END -->
<!--no_index_start-->
<!-- 2COL LAYOUT COL2 BEGIN -->
</div>]

In [ ]:
<div id="wrapper-basic">

</div></caption><thead>
<tr>
<th id="col0"> Year </th><th id="col1"> Period </th><th id="col2">Estimate Value</th><th id="col2">Standard Error</th></tr>
</thead>
<tbody><tr class="odd">
<th id="col0 row1">2001</th><th id="col1 row1">Qtr1</th><td header="col1 row1">3.9</td><td header="col2 row1">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row2">2001</th><th id="col1 row2">Qtr2</th><td header="col1 row2">4.0</td><td header="col2 row2">-(A)</td>
</tr>
<tr class="odd">
<th id="col0 row3">2001</th><th id="col1 row3">Qtr3</th><td header="col1 row3">4.1</td><td header="col2 row3">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row4">2001</th><th id="col1 row4">Qtr4</th><td header="col1 row4">4.2</td><td header="col2 row4">-(A)</td>
</tr>
<tr class="odd">
<th id="col0 row5">2002</th><th id="col1 row5">Qtr1</th><td header="col1 row5">3.8</td><td header="col2 row5">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row6">2002</th><th id="col1 row6">Qtr2</th><td header="col1 row6">3.7</td><td header="col2 row6">-(A)</td>
</tr>
<tr class="odd">
<th id="col0 row7">2002</th><th id="col1 row7">Qtr3</th><td header="col1 row7">3.5</td><td header="col2 row7">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row8">2002</th><th id="col1 row8">Qtr4</th><td header="col1 row8">3.3</td><td header="col2 row8">-(A)</td>
</tr>
<tr class="odd">
<th id="col0 row9">2003</th><th id="col1 row9">Qtr1</th><td header="col1 row9">3.8</td><td header="col2 row9">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row10">2003</th><th id="col1 row10">Qtr2</th><td header="col1 row10">3.7</td><td header="col2 row10">-(A)</td>
</tr>
<tr class="odd">
<th id="col0 row11">2003</th><th id="col1 row11">Qtr3</th><td header="col1 row11">3.9</td><td header="col2 row11">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row12">2003</th><th id="col1 row12">Qtr4</th><td header="col1 row12">3.9</td><td header="col2 row12">-(A)</td>
</tr>
<tr class="odd">
<th id="col0 row13">2004</th><th id="col1 row13">Qtr1</th><td header="col1 row13">3.7</td><td header="col2 row13">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row14">2004</th><th id="col1 row14">Qtr2</th><td header="col1 row14">3.8</td><td header="col2 row14">-(A)</td>
</tr>
<tr class="odd">
<th id="col0 row15">2004</th><th id="col1 row15">Qtr3</th><td header="col1 row15">3.8</td><td header="col2 row15">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row16">2004</th><th id="col1 row16">Qtr4</th><td header="col1 row16">3.7</td><td header="col2 row16">-(A)</td>
</tr>
<tr class="odd">
<th id="col0 row17">2005</th><th id="col1 row17">Qtr1</th><td header="col1 row17">3.6</td><td header="col2 row17">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row18">2005</th><th id="col1 row18">Qtr2</th><td header="col1 row18">3.2</td><td header="col2 row18">-(A)</td>
</tr>
<tr class="odd">
<th id="col0 row19">2005</th><th id="col1 row19">Qtr3</th><td header="col1 row19">3.0</td><td header="col2 row19">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row20">2005</th><th id="col1 row20">Qtr4</th><td header="col1 row20">3.1</td><td header="col2 row20">-(A)</td>
</tr>
<tr class="odd">
<th id="col0 row21">2006</th><th id="col1 row21">Qtr1</th><td header="col1 row21">2.8</td><td header="col2 row21">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row22">2006</th><th id="col1 row22">Qtr2</th><td header="col1 row22">3.0</td><td header="col2 row22">-(A)</td>
</tr>
<tr class="odd">
<th id="col0 row23">2006</th><th id="col1 row23">Qtr3</th><td header="col1 row23">3.3</td><td header="col2 row23">-(A)</td>
</tr>
<tr class="even">
<th id="col0 row24">2006</th><th id="col1 row24">Qtr4</th><td header="col1 row24">3.3</td><td header="col2 row24">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row25">2007</th><th id="col1 row25">Qtr1</th><td header="col1 row25">3.5</td><td header="col2 row25">0.2</td>
</tr>
<tr class="even">
<th id="col0 row26">2007</th><th id="col1 row26">Qtr2</th><td header="col1 row26">3.3</td><td header="col2 row26">0.2</td>
</tr>
<tr class="odd">
<th id="col0 row27">2007</th><th id="col1 row27">Qtr3</th><td header="col1 row27">3.3</td><td header="col2 row27">0.1</td>
</tr>
<tr class="even">
<th id="col0 row28">2007</th><th id="col1 row28">Qtr4</th><td header="col1 row28">3.3</td><td header="col2 row28">0.2</td>
</tr>
<tr class="odd">
<th id="col0 row29">2008</th><th id="col1 row29">Qtr1</th><td header="col1 row29">3.3</td><td header="col2 row29">0.1</td>
</tr>
<tr class="even">
<th id="col0 row30">2008</th><th id="col1 row30">Qtr2</th><td header="col1 row30">3.1</td><td header="col2 row30">0.2</td>
</tr>
<tr class="odd">
<th id="col0 row31">2008</th><th id="col1 row31">Qtr3</th><td header="col1 row31">2.9</td><td header="col2 row31">0.1</td>
</tr>
<tr class="even">
<th id="col0 row32">2008</th><th id="col1 row32">Qtr4</th><td header="col1 row32">2.6</td><td header="col2 row32">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row33">2009</th><th id="col1 row33">Qtr1</th><td header="col1 row33">2.1</td><td header="col2 row33">0.2</td>
</tr>
<tr class="even">
<th id="col0 row34">2009</th><th id="col1 row34">Qtr2</th><td header="col1 row34">1.8</td><td header="col2 row34">0.2</td>
</tr>
<tr class="odd">
<th id="col0 row35">2009</th><th id="col1 row35">Qtr3</th><td header="col1 row35">1.5</td><td header="col2 row35">0.1</td>
</tr>
<tr class="even">
<th id="col0 row36">2009</th><th id="col1 row36">Qtr4</th><td header="col1 row36">1.4</td><td header="col2 row36">0.2</td>
</tr>
<tr class="odd">
<th id="col0 row37">2010</th><th id="col1 row37">Qtr1</th><td header="col1 row37">1.7</td><td header="col2 row37">0.1</td>
</tr>
<tr class="even">
<th id="col0 row38">2010</th><th id="col1 row38">Qtr2</th><td header="col1 row38">1.9</td><td header="col2 row38">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row39">2010</th><th id="col1 row39">Qtr3</th><td header="col1 row39">1.9</td><td header="col2 row39">0.1</td>
</tr>
<tr class="even">
<th id="col0 row40">2010</th><th id="col1 row40">Qtr4</th><td header="col1 row40">2.0</td><td header="col2 row40">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row41">2011</th><th id="col1 row41">Qtr1</th><td header="col1 row41">2.0</td><td header="col2 row41">0.1</td>
</tr>
<tr class="even">
<th id="col0 row42">2011</th><th id="col1 row42">Qtr2</th><td header="col1 row42">2.2</td><td header="col2 row42">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row43">2011</th><th id="col1 row43">Qtr3</th><td header="col1 row43">2.0</td><td header="col2 row43">0.1</td>
</tr>
<tr class="even">
<th id="col0 row44">2011</th><th id="col1 row44">Qtr4</th><td header="col1 row44">2.0</td><td header="col2 row44">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row45">2012</th><th id="col1 row45">Qtr1</th><td header="col1 row45">1.9</td><td header="col2 row45">0.2</td>
</tr>
<tr class="even">
<th id="col0 row46">2012</th><th id="col1 row46">Qtr2</th><td header="col1 row46">1.7</td><td header="col2 row46">0.2</td>
</tr>
<tr class="odd">
<th id="col0 row47">2012</th><th id="col1 row47">Qtr3</th><td header="col1 row47">1.9</td><td header="col2 row47">0.1</td>
</tr>
<tr class="even">
<th id="col0 row48">2012</th><th id="col1 row48">Qtr4</th><td header="col1 row48">1.9</td><td header="col2 row48">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row49">2013</th><th id="col1 row49">Qtr1</th><td header="col1 row49">1.9</td><td header="col2 row49">0.1</td>
</tr>
<tr class="even">
<th id="col0 row50">2013</th><th id="col1 row50">Qtr2</th><td header="col1 row50">1.9</td><td header="col2 row50">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row51">2013</th><th id="col1 row51">Qtr3</th><td header="col1 row51">1.9</td><td header="col2 row51">0.1</td>
</tr>
<tr class="even">
<th id="col0 row52">2013</th><th id="col1 row52">Qtr4</th><td header="col1 row52">2.0</td><td header="col2 row52">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row53">2014</th><th id="col1 row53">Qtr1</th><td header="col1 row53">1.8</td><td header="col2 row53">0.1</td>
</tr>
<tr class="even">
<th id="col0 row54">2014</th><th id="col1 row54">Qtr2</th><td header="col1 row54">2.0</td><td header="col2 row54">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row55">2014</th><th id="col1 row55">Qtr3</th><td header="col1 row55">2.2</td><td header="col2 row55">0.1</td>
</tr>
<tr class="even">
<th id="col0 row56">2014</th><th id="col1 row56">Qtr4</th><td header="col1 row56">2.2</td><td header="col2 row56">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row57">2015</th><th id="col1 row57">Qtr1</th><td header="col1 row57">2.6</td><td header="col2 row57">0.2</td>
</tr>
<tr class="even">
<th id="col0 row58">2015</th><th id="col1 row58">Qtr2</th><td header="col1 row58">2.0</td><td header="col2 row58">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row59">2015</th><th id="col1 row59">Qtr3</th><td header="col1 row59">2.0</td><td header="col2 row59">0.1</td>
</tr>
<tr class="even">
<th id="col0 row60">2015</th><th id="col1 row60">Qtr4</th><td header="col1 row60">2.0</td><td header="col2 row60">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row61">2016</th><th id="col1 row61">Qtr1</th><td header="col1 row61">1.9</td><td header="col2 row61">0.2</td>
</tr>
<tr class="even">
<th id="col0 row62">2016</th><th id="col1 row62">Qtr2</th><td header="col1 row62">2.3</td><td header="col2 row62">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row63">2016</th><th id="col1 row63">Qtr3</th><td header="col1 row63">2.3</td><td header="col2 row63">0.1</td>
</tr>
<tr class="even">
<th id="col0 row64">2016</th><th id="col1 row64">Qtr4</th><td header="col1 row64">2.2</td><td header="col2 row64">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row65">2017</th><th id="col1 row65">Qtr1</th><td header="col1 row65">2.4</td><td header="col2 row65">0.1</td>
</tr>
<tr class="even">
<th id="col0 row66">2017</th><th id="col1 row66">Qtr2</th><td header="col1 row66">2.4</td><td header="col2 row66">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row67">2017</th><th id="col1 row67">Qtr3</th><td header="col1 row67">2.5</td><td header="col2 row67">0.1</td>
</tr>
<tr class="even">
<th id="col0 row68">2017</th><th id="col1 row68">Qtr4</th><td header="col1 row68">2.6</td><td header="col2 row68">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row69">2018</th><th id="col1 row69">Qtr1</th><td header="col1 row69">2.7</td><td header="col2 row69">0.1</td>
</tr>
<tr class="even">
<th id="col0 row70">2018</th><th id="col1 row70">Qtr2</th><td header="col1 row70">2.8</td><td header="col2 row70">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row71">2018</th><th id="col1 row71">Qtr3</th><td header="col1 row71">2.8</td><td header="col2 row71">0.1</td>
</tr>
<tr class="even">
<th id="col0 row72">2018</th><th id="col1 row72">Qtr4</th><td header="col1 row72">2.9</td><td header="col2 row72">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row73">2019</th><th id="col1 row73">Qtr1</th><td header="col1 row73">2.8</td><td header="col2 row73">0.1</td>
</tr>
<tr class="even">
<th id="col0 row74">2019</th><th id="col1 row74">Qtr2</th><td header="col1 row74">2.7</td><td header="col2 row74">0.1</td>
</tr>
<tr class="odd">
<th id="col0 row75">2019</th><th id="col1 row75">Qtr3</th><td header="col1 row75">2.8</td><td header="col2 row75">0.1</td>
</tr>
<tr class="even">
<th id="col0 row76">2019</th><th id="col1 row76">Qtr4</th><td header="col1 row76">2.7</td><td header="col2 row76">0.1</td>
</tr>
</tbody>
<tfoot>
<tr><td colspan="4">B : Includes wages, salaries, and employer costs for employee benefits.<br>C : See Footnote C on <a href="/ncs/ect/cimapnote.htm#C" target="new">www.bls.gov/ect/cimapnote.htm</a>.<br>A : Dashes indicate data not available.<br></td></tr></tfoot>
</table>

<br>
<!-- OneColFootBasic Begin -->
<!-- Footer Filename: /include/data/sos_footer.txt  modified on dec 1 2010 by dm-->
<!--no_index_start-->
<!-- 2COL LAYOUT COL2 BEGIN -->

		</div>
	</div>
	<div class="clearfloat"></div>

<!-- 2COL LAYOUT COL2 END -->
<!-- QUICK LINKS BEGIN -->
<!-- -->

<!-- QUICK LINKS END -->
<!-- WRAPPER BOTTOM BEGIN -->
		
		
		</div>

In [ ]:
head = [elm + str(index) for index, elm in enumerate(head)]

header = ""
for num in head:
    head_item = "{} DECIMAL (18, 2), ".format(num)
    if head_item[0].isdigit() == True:
        header += "a_" + head_item
    else:
        header += head_item
header   

# initializing bad_chars_list 
bad_chars = [';', ':', '!', "*","/","#","%"] 

# remove bad_chars  
for i in bad_chars : 
    header = header.replace(i, '') 
header = header[:-2]
header

In [ ]:
c.execute("CREATE TABLE EmploymentCostIndex({})".format(header))