In [1]:
import requests
import pandas as pd

data = {
    "series_id": "LNS11000000",
    "survey": "bls",
    "format": "",
    "html_tables": "",
    "delimiter": "",
    "catalog": "",
    "print_line_length": "",
    "lines_per_page": "",
    "row_stub_key": "",
    "year": "",
    "date": "",
    "net_change_start": "",
    "net_change_end": "",
    "percent_change_start": "",
    "percent_change_end": ""
}

url = "https://data.bls.gov/cgi-bin/surveymost"
# def main(url):
r = requests.post(url, data=data)
df = pd.read_html(r.content)[1]
print(df)

Unnamed: 0  \
0                                                2010
1                                                2011
2                                                2012
3                                                2013
4                                                2014
5                                                2015
6                                                2016
7                                                2017
8                                                2018
9                                                2019
10                                               2020
11  1 : Data affected by changes in population con...

                                                  Jan  \
0                                           153484(1)
1                                           153263(1)
2                                           154381(1)
3                                           155763(1)
4                                           155352(1)
5                                           157030(1)
6                                           158342(1)
7                                           159647(1)
8                                           161068(1)
9                                           163142(1)
10                                          164606(1)
11  1 : Data affected by changes in population con...

                                                  Feb  \
0                                              153694
1                                              153214
2                                              154671
3                                              155312
4                                              155483
5                                              156644
6                                              158653
7                                              159767
8                                              161783
9                                              163047
10                                             164546
11  1 : Data affected by changes in population con...

                                                  Mar  \
0                                              153954
1                                              153376
2                                              154749
3                                              155005
4                                              156028
5                                              156643
6                                              159103
7                                              160066
8                                              161684
9                                              162935
10                                             162913
11  1 : Data affected by changes in population con...

                                                  Apr  \
0                                              154622
1                                              153543
2                                              154545
3                                              155394
4                                              155369
5                                              157060
6                                              158981
7                                              160309
8                                              161742
9                                              162546
10                                                NaN
11  1 : Data affected by changes in population con...

                                                  May  \
0                                              154091
1                                              153479
2                                              154866
3                                              155536
4                                              155684
5                                              157651
6                                              158787
7                                              160060
8                                              161874
9                                              162782
10                                                NaN
11  1 : Data affected by changes in population con...

                                                  Jun  \
0                                              153616
1                                              153346
2                                              155083
3                                              155749
4                                              155707
5                                              157062
6                                              158973
7                                              160232
8                                              162269
9                                              163133
10                                                NaN
11  1 : Data affected by changes in population con...

                                                  Jul  \
0                                              153691
1                                              153288
2                                              154948
3                                              155599
4                                              156007
5                                              156997
6                                              159123
7                                              160339
8                                              162173
9                                              163373
10                                                NaN
11  1 : Data affected by changes in population con...

                                                  Aug  \
0                                              154086
1                                              153760
2                                              154763
3                                              155605
4                                              156130
5                                              157172
6                                              159579
7                                              160690
8                                              161768
9                                              163894
10                                                NaN
11  1 : Data affected by changes in population con...

                                                  Sep  \
0                                              153975
1                                              154131
2                                              155160
3                                              155687
4                                              156040
5                                              156733
6                                              159817
7                                              161212
8                                              162078
9                                              164051
10                                                NaN
11  1 : Data affected by changes in population con...

                                                  Oct  \
0                                              153635
1                                              153961
2                                              155554
3                                              154673
4                                              156417
5                                              157167
6                                              159734
7                                              160378
8                                              162605
9                                              164401
10                                                NaN
11  1 : Data affected by changes in population con...

                                                  Nov  \
0                                              154125
1                                              154128
2                                              155338
3                                              155265
4                                              156494
5                                              157463
6                                              159551
7                                              160510
8                                              162662
9                                              164347
10                                                NaN
11  1 : Data affected by changes in population con...

                                                  Dec  \
0                                              153650
1                                              153995
2                                              155628
3                                              155182
4                                              156332
5                                              158035
6                                              159710
7                                              160538
8                                              163111
9                                              164556
10                                                NaN
11  1 : Data affected by changes in population con...

                                          Unnamed: 13
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11  1 : Data affected by changes in population con...

In [19]:
headers = {'user-agent': 'your-own-user-agent/0.0.1'}
req = requests.get(url, headers=headers)
headers

{'user-agent': 'your-own-user-agent/0.0.1'}

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 19)