In [3]:
import cx_Oracle
pswd = input("Enter your password: ")
dsn_tns = cx_Oracle.makedsn(host = 'localhost', port = '1521', sid='ORCL')
conn = cx_Oracle.connect(user='BLS', password=pswd, dsn=dsn_tns) 
c = conn.cursor()

In [5]:
def CreateTable():
    TableName = ("TOTAL_NONFARM_EMPLOYMENT_SEASONALLY_ADJUSTED")
    c.execute("DROP TABLE {}".format(TableName))
    table_details = ("Year VARCHAR2(20), JAN VARCHAR2(20), FEB VARCHAR2(20), MAR VARCHAR2(20), APR VARCHAR2(20), MAY VARCHAR2(20), JUN VARCHAR2(20), JUL VARCHAR2(20), AUG VARCHAR2(20), SEP VARCHAR2(20), OCT VARCHAR2(20), NOV VARCHAR2(20), DEC VARCHAR2(20)")
    table_input = "{}({})".format(TableName, table_details)
    NewTable = c.execute("CREATE TABLE {}".format(table_input))
CreateTable()

In [6]:
import requests
import pandas as pd

data = {
    "series_id" :	"CES0000000001",
    "survey" :	"ce"
    
}

url = "https://data.bls.gov/cgi-bin/surveymost"
# def main(url):
n = 11
r = requests.post(url, data=data)
df = pd.read_html(r.content)[1]
header = df.iloc[0:0,0:13]
data = pd.DataFrame(df.iloc[0:n,0:13])
Output = pd.DataFrame(df.iloc[0:n,0:13])
# data

In [7]:
def InsertRecords():
    TableName = ("TOTAL_NONFARM_EMPLOYMENT_SEASONALLY_ADJUSTED")
    FieldName = ("Year, JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC")
    n = len(df.index)-1; x = 0;
    for i in range(n):
        Values = ("'" + "' ,'".join(list(str(x) for x in data.values[x])) + "'")
        Values = Values.replace('(','').replace(')','').replace('P','').replace('n','').replace('a','')
        # test.append(Values)
        x += 1
        c.execute("INSERT INTO {}({}) VALUES ({})".format(TableName, FieldName, Values))
        conn.commit()
        
InsertRecords()