In [11]:
import cx_Oracle
pswd = input("Enter your password: ")
dsn_tns = cx_Oracle.makedsn('10.0.0.210', '1521', service_name='XE')
conn = cx_Oracle.connect(user=r'ahicks88', password=pswd, dsn=dsn_tns) 
c = conn.cursor()

DatabaseError: ORA-12170: TNS:Connect timeout occurred

In [ ]:
def CreateTable():
    TableName = input("Enter a table name: ")
    table_details = ("Year (VARCHAR2), JAN (VARCHAR2)")
    table_input = "{}({})".format(TableName, table_details)
    NewTable = c.execute("CREATE TABLE {}".format(table_input))
# CreateTable()

In [ ]:
def InsertRecords():
    TableName = input("Enter a table name: ")
    FieldName = input("Enter field names: ")
    Values = input("Enter values: ")
    c.execute("INSERT INTO {}({}) VALUES ({})".format(TableName, FieldName, Values))
    conn.commit()
InsertRecords()

In [10]:
import requests
import pandas as pd

data = {
    "series_id" :	"CES0000000001",
    "survey" :	"ce"
    
}

url = "https://data.bls.gov/cgi-bin/surveymost"
# def main(url):
r = requests.post(url, data=data)
df = pd.read_html(r.content)[1]
Output = pd.DataFrame(df.iloc[0:11,0:13])
Output

,Unnamed: 0,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2010,129790,129698,129879,130110,130650,130511,130427,130422,130357,130625,130750,130822
1,2011,130841,131053,131288,131602,131703,131939,131999,132125,132358,132562,132694,132896
2,2012,133250,133512,133752,133834,133934,134007,134159,134331,134518,134677,134833,135072
3,2013,135263,135541,135680,135871,136093,136274,136386,136628,136815,137040,137304,137373
4,2014,137548,137714,137968,138293,138511,138837,139069,139257,139566,139818,140109,140377
5,2015,140568,140839,140910,141194,141525,141699,142001,142126,142281,142587,142824,143097
6,2016,143170,143433,143662,143849,143891,144158,144512,144647,144916,145061,145212,145442
7,2017,145627,145815,145944,146141,146296,146512,146727,146911,146929,147196,147421,147551
8,2018,147672,148078,148254,148391,148669,148888,149024,149268,149348,149549,149683,149865
9,2019,150134,150135,150282,150492,150577,150759,150953,151160,151368,151553,151814,151998
10,2020,152212,152487(P),151786(P),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN